# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# my ignore
.vscode
build
roms/
run.sh

# msvc
TotalVB/.vs
TotalVB/Debug/
TotalVB/Release
TotalVB/x64/
TotalVB/packages/
TotalVB/TotalVB/Debug
TotalVB/TotalVB/Release
TotalVB/TotalVB/x64
